<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  
  <!-- My favicon -->
  <link rel="icon" href="images/favicon.ico">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/27a53a076c.js" crossorigin="anonymous"></script>
  <!-- Bootstrap social buttons -->
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <!-- My CSS -->
  <link rel="stylesheet" href="css/styles.css">
  <title>Whisper</title>
</head>
<body>
 