<%- include('partials/header') %>


<div class="flex-img-container">
  <div class="flex-item-img">
    <img class="brand-image" src="images/for_brand.png" alt="brand_image">
  </div>
</div>


<div class="flex-startup-container">
  <div class="flex-opt-item login-item">
    <p>If you already have registered before.</p>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
  <div class="item-verticle-line"></div>
  <div class="flex-opt-item register-item">
    <p>If you are visiting the first time.</p>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
  </div>
</div>

<%- include('partials/footer') %>
