<%- include('partials/header') %>
<section id="main-content-other">
  <div class="flex-heading-container">
    <div class="flex-heading-item">
      <h1>Register</h1>
    </div>
  </div>

    <div class="flex-actn-container">
      <div class="flex-actn-item local-auth">
        <form action="/register" method="POST">
            <label for="email">Email</label>
            <input aria-required="true" type="email" class="form-control" name="username">
            <label for="password">Password</label>
            <input aria-required="true" type="password" class="form-control" name="password">
          <button type="submit" class="btn btn-dark">Register</button>
        </form>
      </div>
      <div class="flex-actn-item remote-auth">
        <div class="remote-header">
          <p>Continue with</p>
        </div>
        <div class="remote-links">
          <a href="/auth/google" role="button">
            <div class="remote-logo">
              <img src="images/google.png" alt="google_logo">
            </div>
          </a>
        </div>
        <div class="remote-links">
          <a href="/auth/twitter" role="button">
            <div class="remote-logo">
              <img src="images/twitter.png" alt="google_logo">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

  <%- include('partials/footer') %>