<%- include('partials/header') %>

<nav class="main-nav-flex">
  <div class="nav-flex-container">
    <div class="nav-flex-item">
      <div class="brand-link">
        <a href="/">
          <div class="sec-brand-img">
            <img src="images/for_brand.png" alt="brand_logo">
          </div>
        </a>
      </div>
    </div>
    <div class="push-right">
      <div class="flex-right-item">
        <a href="/logout">
          <h4>Log Out</h4>
        </a>
      </div>
      <div class="flex-right-item">
        <a href="/submit">
          <h4>Submit a Secret</h4>
        </a>
      </div>
    </div>
  </div>
</nav>

<section id="main-content">
<div class="flex-main-container">
  <% usersWithSecret.forEach(function(user, indx){ %>
    <% user.secrets.forEach(function(secret, indx){%>
      <div class="main-items">
        <div class="main-item-txt">
          <p class="secret-text">
            <%=secret.desc%>
          </p>
        </div>
        <div class="info-push-btm">
          <hr>
          <div class="flex-info-container"> 
            <div class="info-item">Date</div>
            <div class="info-item">Likes</div>
          </div>
        </div>
      </div>
    <%})%>
  <%})%>
</div>
  
</section>
  

  <%- include('partials/footer') %>